/* CatalogPage.module.css */
.catalogPageWrapper {
    background-color: var(--clr-card-bg);
    padding-top: 2rem;
    padding-bottom: 2rem;
    min-height: calc(100vh - var(--current-header-height));
}

.catalogPageContent {
    display: grid;
    grid-template-columns: 360px 1fr;
    gap: 40px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 64px;
    padding-right: 64px;
}


.camperContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.camperList {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
}

.loadMoreButton {
    align-self: center;
    padding: 16px 32px;
    background-color: var(--clr-primary-red);
    color: #ffffff;
    border: none;
    border-radius: 200px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    transition: background-color 0.3s ease;
}

.loadMoreButton:hover {
    background-color: #D33D3D;
}

.error {
    color: var(--clr-primary-red);
}

.noResults {
    font-style: italic;
    color: var(--clr-muted-light);
}
.loaderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
}

.loadingMessage {
    font-size: 1.5rem;
    color: #555;
    text-align: center;
}

.noVansMessage {
    font-size: 1.2rem;
    color: #888;
    text-align: center;
    margin-top: 50px;
    width: 100%;
}

.errorMessage {
    font-size: 1.2rem;
    color: red;
    text-align: center;
    margin-top: 50px;
    width: 100%;
 }
    