/* src/components/SidebarFilters/SidebarFilters.module.css */

.sidebar {
    padding: 24px;
    width: 360px;
}

.locationWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.locationWrapper .icon {
    width: 20px;
    height: 20px;
    fill: #121417;
    margin-right: 8px;
}

.inputFieldWithIcon {
    flex-grow: 1;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    background-color: #f7f7f7;
    font-size: 16px;
    line-height: 24px;
    color: #121417;
}

.inputFieldWithIcon::placeholder {
    color: #808080;
}

.filtersTitle {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 24px;
}

.filterGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}

.filterGroup h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #121417;
    margin: 0;
}


.line {
    border: none;
    border-top: 1px solid rgba(16, 24, 40, 0.2);
    margin-bottom: 24px;
}
.clearAllButton {
    background: none;
    border: none;
    color: #808080;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    padding: 0;
    text-decoration: underline;
}

.clearAllButton:hover {
    color: #555;
}

.filterGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 32px;
}

.filterItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
    border: 1px solid rgba(16, 24, 40, 0.2);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: transparent;
    min-height: 95px;
}

.filterItem:hover {
    border-color: #e44848;
}

.filterItem.selected {
    border-color: #e44848;
    background-color: #fbe4e4;
}

.filterItem .icon {
    width: 32px;
    height: 32px;
    fill: #121417;
    margin-bottom: 8px;
}

.filterItem.selected .icon {
    fill: #e44848;
}

.filterItem span {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #121417;
    text-align: center;
}

.filterItem.selected span {
    color: #e44848;
}

.checkbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
}

.searchButton {
    width: 100%;
    padding: 16px;
    background-color: #e44848;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.searchButton:hover {
    background-color: #d13d3d; }