
.appHeader {
    width: 100%;
    background-color: var(--clr-surface-light, #F7F7F7);
    border-bottom: 1px solid var(--clr-surfaceDim, #E2E2E2);
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;
    --current-header-height: calc(24px * 2 + 1px);
}

.headerContentWrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 64px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.brandLogo {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: var(--clr-text-dark, #101828);
    text-decoration: none;
}

.brandLogo span {
    font-weight: 400;
    color: var(--clr-muted-light, #475467);
}

.mainNav {
    display: flex;
    gap: 32px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.navLink {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: var(--clr-text-dark, #101828);
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
}

.navLink::after {
    content: "";
    position: absolute;
    inset-inline: 0;
    bottom: 0px;
    height: 2px;
    background: var(--clr-primary-red, #E44848);
    transform: scaleX(0);
    transition: transform .25s ease-out;
    transform-origin: left;
}

.navLink:hover::after,
.activeLink::after {
    transform: scaleX(1);
}

.activeLink {
    color: var(--clr-primary-red, #E44848);
}

.rightSection {
    width: 150px;
}