.header {
    background: var(--clr-surface);
    border-bottom: 1px solid var(--clr-surfaceDim);
    padding: .75rem 1.5rem;
}

.nav {
    display: flex;
    gap: 1.5rem;
    font-weight: 500;
}

.link {
    color: var(--clr-text);
    text-decoration: none;
    position: relative;
}

.link::after {
    content: "";
    position: absolute;
    inset-inline: 0;
    bottom: -2px;
    height: 2px;
    background: var(--clr-primary);
    scale: 0 1;
    transition: scale .25s;
}

.link:hover::after,
.active::after {
    scale: 1 1;
}