@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    
    --clr-bg: #0f172a;
    
    --clr-surface: #1e293b;
    --clr-surfaceDim: #334155;
    --clr-light-bg: #F7F7F7;  
    --clr-card-bg: #FFFFFF;
    --clr-filter-bg: #FFFFFF;
    --clr-booking-form-bg: #FFFFFF;
    --clr-text: #f1f5f9;
    --clr-text-dark: #101828;
    --clr-text-primary: #475467;
    --clr-text-light: #A0A0A0;
    --clr-muted: #94a3b8;
    --clr-primary: #0ea5e9;
    --clr-primary-hover: #38bdf8;
    --clr-accent: #f97316;
    --clr-primary-red: #E44848;
    --clr-red-hover: #D33D3D;
    --radius-lg: 1rem;
    --radius-md: .75rem;
    --radius-sm: .5rem;
    --radius-button: 500px;
    --radius-card: 20px;
    --radius-image: 10px;

    --shadow-sm: 0 2px 6px rgba(0, 0, 0, 0.05);
    --shadow-md: 0 4px 12px rgba(0, 0, 0, 0.08);
    --shadow-lg: 0px 8px 16px rgba(0, 0, 0, 0.1);
    --header-height: calc(0.75rem * 2 + 1px);
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", system-ui, sans-serif;
    color: var(--clr-text-dark);
    background-color: var(--clr-light-bg);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
    width: min(92rem, 100% - 2rem);
    margin-inline: auto;
}


.headerBar {
    position: relative;
    z-index: 1;
}
